In [2]:
# Importa biblioteca pandas

import pandas as pd

# Carregamento das tabelas

# Tabelas de Resultados
resultados_02 = pd.read_excel('RESULTADOS_02_03_2024.xlsx')

/home/fillmore/venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
resultados_04 = pd.read_excel('RESULTADOS_04_06_2024.xlsx')

/home/fillmore/venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
resultados_06 = pd.read_excel('RESULTADOS_06_2023_07_2023.xlsx')

/home/fillmore/venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
resultados_08 = pd.read_excel('RESULTADOS_08_2023_09_2023.xlsx')

/home/fillmore/venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [6]:
resultados_10 = pd.read_excel('RESULTADOS_10_2023_11_2023.xlsx')

/home/fillmore/venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [7]:
resultados_12 = pd.read_excel('RESULTADOS_12_2023_01_2024.xlsx')

/home/fillmore/venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [9]:
# Tabelas de Falhas
falhas_04 = pd.read_excel('FALHAS_04_05_06_2024.xlsx')
falhas_predict = pd.read_excel('FALHAS_PREDICT.xlsx')

/home/fillmore/venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [18]:
# Tabela do Status da Predição
status = pd.read_excel('STATUS_PREDICTOR_ANO.xlsx')

/home/fillmore/venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [11]:
# Concatenando as Tabelas de Resultados
resultados = pd.concat([resultados_02, resultados_04, resultados_06, resultados_08, resultados_10, resultados_12])

In [14]:
# Concatenando as Tabelas de Falhas 
falhas = pd.concat([falhas_04, falhas_predict])

In [25]:
resultados

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
1,NaN,2023-5076008,SECTION_ZP8_00000001,718,13,V,80,12.479 ...,2024-02-02 08:03:03
2,NaN,2023-5076008,SECTION_ZP8_00000001,718,13,V,80,12.617 ...,2024-02-02 07:37:59
3,NaN,2023-5076008,SECTION_ZP8_00000001,718,10,V,80,12.951 ...,2024-02-02 08:32:14
4,NaN,2023-5076015,SECTION_ZP8_00000001,718,13,V,80,12.223 ...,2024-02-07 14:05:16
...,...,...,...,...,...,...,...,...,...
1048569,NaN,2023-4926054,524400,2,10,Grad,1,17.17 ...,2023-12-05 15:45:37
1048570,NaN,2023-4926054,524400,2,10,Grad,3,17.74 ...,2023-12-05 15:45:37
1048571,NaN,2023-4926054,524400,2,10,Nm,0,20.18 ...,2023-12-05 15:45:37
1048572,NaN,2023-4926054,524400,2,10,Nm,2,20.27 ...,2023-12-05 15:45:37
1048573,NaN,2023-4926054,550100,2,10,Grad,1,35.00 ...,2023-12-05 14:01:45

In [27]:
resultados = resultados.drop(columns=['Unnamed: 0'])
resultados.columns = resultados.iloc[0]
resultados = resultados[1 :]

In [31]:
resultados

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA
1,2023-5076008,SECTION_ZP8_00000001,718,13,V,80,12.479 ...,2024-02-02 08:03:03
2,2023-5076008,SECTION_ZP8_00000001,718,13,V,80,12.617 ...,2024-02-02 07:37:59
3,2023-5076008,SECTION_ZP8_00000001,718,10,V,80,12.951 ...,2024-02-02 08:32:14
4,2023-5076015,SECTION_ZP8_00000001,718,13,V,80,12.223 ...,2024-02-07 14:05:16
5,2023-5076015,SECTION_ZP8_00000001,718,10,V,80,12.855 ...,2024-02-07 14:31:41
...,...,...,...,...,...,...,...,...
1048569,2023-4926054,524400,2,10,Grad,1,17.17 ...,2023-12-05 15:45:37
1048570,2023-4926054,524400,2,10,Grad,3,17.74 ...,2023-12-05 15:45:37
1048571,2023-4926054,524400,2,10,Nm,0,20.18 ...,2023-12-05 15:45:37
1048572,2023-4926054,524400,2,10,Nm,2,20.27 ...,2023-12-05 15:45:37
1048573,2023-4926054,550100,2,10,Grad,1,35.00 ...,2023-12-05 14:01:45

In [32]:
falhas = falhas.drop(columns=['Unnamed: 0'])
falhas.columns = falhas.iloc[0]
falhas = falhas[1 :]

In [33]:
falhas

,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,DATA
1,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PARALAMA DIANTEIRO 01. AMASSADO,2024-05-20 21:31:51.992000
2,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PORTA TRASEIRA 04. CAROÇO / PICO,2024-05-20 21:30:22.772000
3,2023-2056234,T-CROSS,2R2R,DHS,PCEQS620,2058570,ZP6,MÓDULO DO ACC (13) PEÇA INCORRETA ¨,2024-05-20 20:04:55.534000
4,2023-2056234,T-CROSS,2R2R,DHS,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,2024-04-11 12:15:39.616000
5,2023-3896001,T-CROSS,0Q0Q,,HCEQS203,2043971,ZP5A,TAMPA DIANTEIRA 05. SUJEIRA NA PINTURA,2024-06-05 17:38:51.565000
...,...,...,...,...,...,...,...,...,...
663816,2024-1336453,T-CROSS,K2K2,DHS,HCEQS506,2051427,ZP7,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,2024-03-27 14:52:39.400000
663817,2024-1336485,T-CROSS,0Q0Q,DHS,HCEQS506,2044862,ZP7,PORTA TRASEIRA 03. CAVACO,2024-03-27 14:53:03.187000
663818,2024-1346004,T-CROSS,A1A1,DHS,HCEQS506,2052733,ZP7,RACK DO TETO FELTRO APARENTE,2024-03-27 14:53:25.992000
663819,2024-1336453,T-CROSS,K2K2,DHS,HCEQS506,2051427,ZP7,TAMPA TRASEIRA 07. FERVIDO,2024-03-27 14:53:29.873000
663820,2024-1336485,T-CROSS,0Q0Q,DHS,HCEQS506,2044862,ZP7,PAINEL LATERAL PREP. PINTURA NOK,2024-03-27 14:54:05.634000

In [34]:
status = status.drop(columns=['Unnamed: 0'])
status.columns = status.iloc[0]
status = status[1 :]

In [35]:
status

0                 KNR STATUS                 DATA
1        2023-2016173   G620  2023-06-06 07:50:27
2        2023-2016173   M620  2023-06-06 07:50:27
3        2023-2026032   G620  2023-06-20 17:35:51
4        2023-2026032   M620  2023-06-20 17:35:51
5        2023-2026085   G620  2023-06-22 20:22:36
...               ...    ...                  ...
1048569  2023-4026001   G800  2023-10-05 06:18:10
1048570  2023-4026002   A600  2023-09-28 14:32:41
1048571  2023-4026002   R100  2023-09-28 14:32:42
1048572  2023-4026002   R120  2023-09-29 00:09:03
1048573  2023-4026002   R480  2023-09-29 07:02:34

[1048573 rows x 3 columns]

In [36]:
resultados.columns

Index(['KNR', 'NAME', 'ID', 'STATUS', 'UNIT', 'VALUE_ID', 'VALUE', 'DATA'], dtype='object', name=0)

In [37]:
falhas.columns

Index(['KNR', 'MODELO', 'COR', 'MOTOR', 'ESTACAO', 'USUARIO', 'HALLE', 'FALHA',
       'DATA'],
      dtype='object', name=0)

In [38]:
status.columns

Index(['KNR', 'STATUS', 'DATA'], dtype='object', name=0)

In [44]:
predict = pd.read_csv('PREDICT_VW_M7_EC.csv', low_memory=False)

In [45]:
predict

,KNR,MOD,TEMPO_MONT,TEMPO_BODY,TEMPO_ZP5,TEMPO_ZP6,TEMPO_ZP7,TEMPO_CABINES,TEMPO_TOTAL,DIV_MIN_ZP7,...,MAX_TORQUE_3107,MAX_TORQUE_3108,MAX_TORQUE_4224,MIN_TORQUE_1302,MIN_TORQUE_3141,MIN_TORQUE_3214,MIN_TORQUE_4204,MIN_TORQUE_4212,MIN_TORQUE_5947,TOTAL_TORQUE_NOK
0,2024-0316012,T-Cross 1.0 TPLUS 128cv A6F,431.0,873.0,11.0,52653.0,0.0,0.0,55775.0,0.0,...,60.21,60.72,18.45,30.13,130.53,95.76,23.31,23.03,57.65,0.0
1,2024-0316022,T-Cross 1.0 TPLUS 128cv A6F,431.0,843.0,13.0,52327.0,554.0,0.0,57376.0,103.0,...,60.43,60.57,18.11,30.17,116.84,98.58,23.07,23.10,58.57,0.0
2,2024-0316030,T-Cross 1.4 HIGH 150cv A6F,822.0,1485.0,12.0,532.0,0.0,0.0,56161.0,0.0,...,60.44,60.51,18.30,30.10,134.39,96.00,23.07,23.17,53.21,0.0
3,2024-0316046,T-Cross 1.0 COMFO 85KW A6F,435.0,1093.0,9.0,504.0,0.0,0.0,56717.0,0.0,...,60.60,60.50,18.05,29.15,142.75,94.77,23.17,23.04,58.61,1.0
4,2024-0316047,T-Cross 1.0 COMFO 128cv A6F,432.0,610.0,12.0,52326.0,0.0,0.0,55974.0,0.0,...,60.34,60.31,18.33,30.15,140.38,97.38,23.26,23.05,62.70,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35390,2024-0336306;T-Cross 1.4 HIGH 150cv A6F;44...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35391,2024-0336316;T-Cross 1.4 HIGH 150cv A6F;39...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35392,2024-0336329;T-Cross 1.4 HIGH 150cv A6F;45...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35393,2024-0336342;T-Cross 1.4 HIGH 150cv A6F;45...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35394,2024-0336362;T-Cross 1.4 HIGH 150cv A6F;45...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN