In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('tabela_da_felicidade.csv')

In [4]:
df.head()

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA_x,COR,MOTOR,USUARIO,FALHA,DATA_y
0,2024-1346277,042000,1,10,Deg,5.0,15427 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,console central ruído de corpo estranho,2024-04-05 16:50:34.322000
1,2024-1346277,042000,1,10,mm,2.0,1.76 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,console central ruído de corpo estranho,2024-04-05 16:50:34.322000
2,2024-1346277,042000,1,10,mm,3.0,1.95 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,console central ruído de corpo estranho,2024-04-05 16:50:34.322000
3,2024-1346277,042000,1,10,mm,1.0,3.71 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,console central ruído de corpo estranho,2024-04-05 16:50:34.322000
4,2024-1346277,042000,1,10,Nm,4.0,3.38 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,console central ruído de corpo estranho,2024-04-05 16:50:34.322000

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
label_encoder = LabelEncoder()
df['FALHA'] = label_encoder.fit_transform(df['FALHA'])

In [7]:
df.head()

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA_x,COR,MOTOR,USUARIO,FALHA,DATA_y
0,2024-1346277,042000,1,10,Deg,5.0,15427 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,75,2024-04-05 16:50:34.322000
1,2024-1346277,042000,1,10,mm,2.0,1.76 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,75,2024-04-05 16:50:34.322000
2,2024-1346277,042000,1,10,mm,3.0,1.95 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,75,2024-04-05 16:50:34.322000
3,2024-1346277,042000,1,10,mm,1.0,3.71 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,75,2024-04-05 16:50:34.322000
4,2024-1346277,042000,1,10,Nm,4.0,3.38 ...,2024-03-27 15:12:07,K2K2,CWL,2079860,75,2024-04-05 16:50:34.322000

In [10]:
df.groupby('MOTOR').count()

,KNR,NAME,ID,STATUS,UNIT,VALUE_ID,VALUE,DATA_x,COR,USUARIO,FALHA,DATA_y
MOTOR,,,,,,,,,,,,
CWL,703722,703722,703722,703722,703722,703722,703722,703722,703722,703722,703722,703722
CWS,5987,5987,5987,5987,5987,5987,5987,5987,5987,5987,5987,5987
DHS,1029884,1029884,1029884,1029884,1029884,1029884,1029884,1029884,1029884,1029884,1029884,1029884
DRP,75965,75965,75965,75965,75965,75965,75965,75965,75965,75965,75965,75965